@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

button {
  background-color: $primary-color;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;

  .close {
    padding: 0;
    width: 25px;
    height: 25px;
    opacity: 1;
  }
}

.modal-body {
  padding-top: 0;
}

